{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div class="text-center">
    <h2>実況ったーとは？</h2>
    <p>Twitterリアタイ実況できない人向けに、NetflixやらAmazon Prime Videoやらでタイミング合わせて
      一緒にアニメ（など）見ようぜ！っていうサービスです。</p>
    <p>Twitter実況すると盛り上がるし、一緒に見てる人と仲良くなれる気がしてよかったので作りました。</p>
  </div>
  <div class="text-center">
    <h2>使い方</h2>
    <ol>
      <li>ナビゲーションバーから「ログイン」をクリックして、Twitterアカウントを用いてサインアップしてください。</li>
      <li>ログインできたら、ナビゲーションバーから「新規作成」をクリックしてください。投稿のタイトル、コメント、実況開始時刻、タグを指定して投稿してください。</li>
      <li>投稿したら、その投稿詳細ページへ行き、ツイートボタンを押してください。ハッシュタグが自動生成され、詳細ページのリンクが載ったTwitter投稿画面が表示されます。</li>
      <li>開始時刻になったらそのハッシュタグを付けて、実況を始めましょう！</li>
    </ol>
    <p>Twitterのハッシュタグの仕様上、アンダーバー以外の記号でハッシュタグが途切れてしまうので省略することを推奨します。（例「ゆるキャン△」→「ゆるキャン」、「ダンベル何キロもてる？」→「ダンベル何キロもてる」など）</p>
  </div>
  <div class="text-center">
    <h2>運営者：とともね</h2>
    <p>よわよわ未経験エンジニアが運営していますので、優しい目で見てください</p>
    <p>ここ修正したほうがいいよとか、ここを直してほしいなど有りましたら、TwitterのDMでお願いします→<a href="https://twitter.com/ttmone">Twitter</a></p>
  </div>
  </div>
{% endblock %}