{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div class="text-center">
    <h2>実況ったーとは？</h2>
    <p>Twitterリアタイ実況できない人向けに、NetflixやらAmazon Prime Videoやらでタイミング合わせて
      一緒にアニメ（など）見ようぜ！っていうサービスです。</p>
    <p>Twitter実況すると盛り上がるし、一緒に見てる人と仲良くなれる気がしてよかったので作りました。</p>
    <h2>使い方</h2>
    <p>新規投稿をクリックして、視聴タイトル、視聴開始日時、何話か、コメントを入力してください。その後、投稿から「ツイートするボタン」を押すとハッシュタグとコメント付きで呟けます。</p>
    <p>Twitterのハッシュタグの仕様上、アンダーバー以外の記号でハッシュタグが途切れてしまうので省略することを推奨します。（例「ゆるキャン△」→「ゆるキャン」、「ダンベル何キロもてる？」→「ダンベル何キロもてる」など）</p>
  </div>
{% endblock %}